<%- include('./partials/header') %>
  <h1><%= title %></h1>
  <p>Welcome to <%= title %></p>

  <button id="find-a-taco" type="submit">Find A Taco</button>



  <script>
    let lat,lon; 
    navigator.geolocation.getCurrentPosition(position => {
      lat = position.coords.latitude
      lon = position.coords.longitude
    })

    document.getElementById('find-a-taco')
      .addEventListener('click', () => {
        window.location.href = `/restaurants/${lat},${lon}`
      });

  </script>
</body>
</html>