<%- include('./partials/header') %>
<h1><%= title %></h1>

<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS0e5CXHXqaVj3fMFrwVaR7lhPIOiCYvyaw13nJr669wR7C5BfP"
  alt="taco meme">
<br>
<p>Welcome to <%= title %></p>
<br>
<button id="find-a-taco" type="submit">Find A Taco</button>
<br>
<button id="user" type="submit">Profile</button>



<script defer src="/javascripts/landingpage.js"></script>
</body>

</html>