body {
  height: 100vh;
  padding: 0;
  margin: 0;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
  background-color: #DAE7DD;
}

a {
  color: black;
}

.header {
  padding: 10px;
  color: white;
  height: 100px;
  background-color: rgb(73, 84, 119);
  width: 100vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
}

#taco-icon {
  margin-left: 2%;
}

.title {
  font-size: 2rem;
}

.auth{
  width: 20%;
  padding: 5px;
}

#buffer {
  height: 100px;
  margin-bottom: 25px;
}

#find-a-taco, #user {
  color: white;
  height: 50px;
  width: 200px;
  border-radius: 20px;
  background-color: rgb(255, 165, 86);
  box-shadow: none;
  font-size: 25px;
}


.list-container {
  background-color: rgba(54, 213, 231, 0.4);
  width: 85%;
  height: 100px;
  display: flex;
  align-items: center;
}

.thumbnail {
  margin: 2%;
  height: 90%;
}

p {
  margin: 0;
}

.restaurant-name{
  font-weight: 900;
}

.avatar {
  width: 150px;
  height: 150px;
  border-radius: 50%;
}

th, td {
  text-align: center;
}

section {
  margin-top: 100px;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
}

h1,h4 {
  text-align: center;
}

.review-content {
  width: 150px;
}

textarea {
  display: block;
}

.review-btn {
  display: inline;
}