<%- include('../partials/header') %>
    
    <% testData.restaurants.forEach( rest => { %>
    <div class="list-container">
        <p> <%= rest.restaurant.name%> </p>
        
    </div>
    <br>
    <% }) %>



</body>

</html>