<%- include('../partials/header') %>
    
    <% testData.restaurants.forEach( rest => { %>
    <div class="list-container">
        <img class="thumbnail" src="<%= rest.restaurant.thumb%>" alt="restaurant thumbnail"> 
        <p> <%= rest.restaurant.name%> </p>
        
    </div>

    <br>
    <% }) %>



</body>

</html>